.ul-dropdown {
   position: relative;
   
   &.open{
     .dropdown-menu{
      display: block;
     }
   }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    background-color:#fff;
    padding: .5rem 0;
    margin-top: 0.5rem;
    right: 0;
    min-width: 10rem;
    border-radius: 4px;
    box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.35);
    display: none;
    z-index: 100;
    .dropdown-item {
      display: block;
      width: 100%;
      padding: .25rem 1.5rem;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      &:hover {
        @apply bg-gray-100
      }
    }
  }
}

.mega-menu {
  position: static;
  @media (max-width: "840px") {
    display: none;
  }
  .dropdown-menu {
      left: auto;
      right: auto;
      width: calc(100% - 120px);
      max-width: 1200px;
      padding: 0;
      overflow: hidden;
      max-height: calc(100vh - 100px);
      overflow-y: scroll;
      top: 100% !important;
      .bg-img,
      .bg-img .title {
          color: #ffffff;
      }
      // .menu-icon-grid {
      //     margin-left: -2rem;
      // }
      ul.links {
          list-style: none;
          margin: 0;
          padding: 0;
          column-count: 2;
          li a {
              display: inline-block;
              margin-bottom: 8px;
             
          }
      }
  }
}